<meta name="viewport" content="width=device-width, initial-scale=1.0">
<main class="main">
  <div class="content">
    <div class="center">
      <h2 [innerText] = "message"></h2>
      <p>Do you love me? 💕</p>
    </div>
    <div style="height:80%;text-align: center;">
      <div  style="text-align: center;">
        <img id="gifimg" style="width: 200px;height: 200px;"/> 
      </div>
      <button-overview-example buttonColor="primary" buttonText="Yes" buttonClassName="yesBtn" (childEvent)="handleChildEvent($event)" style="padding:10px;"></button-overview-example>
      <button-overview-example buttonColor="accent" buttonText="No" buttonClassName="noBtn" (childEvent)="handleChildEvent($event)" style="padding:10px;"></button-overview-example>
    </div>
  </div>
</main>
